{{ if isset .Site.Params "partners" }}
{{ if .Site.Params.partners.enable }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.partners.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.partners.subtitle }}
                </p>
            </div>
        </div>
        <div class="row">
            {{ range where .Data.Pages "Section" "partners" }}
            <div class="col-md-6 patner-item">
                <div class="col-md-12">
                    <img class="partner-item__logo" src="{{ .Site.BaseURL }}{{ .Params.logo }}" />
                    <p class="partner-item__summary truncate-lines">{{ .Summary }}</p>
                </div>
                <div class="col-md-12">
                    <img class="partner-item__banner img-responsive" src="{{ .Site.BaseURL }}{{ .Params.banner }}" />
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
